.container, .check-year__box, .main-block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.check-year__input-message, .check-year__input-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.6px;
}

.main-block__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.3px;
}

.check-year__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
}

.wrapper {
  display: flex;
  justify-content: center;
  background: url(../../src/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

.main-block {
  width: 1090px;
  height: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}
.main-block__title {
  margin-top: 36px;
  margin-bottom: 36px;
}

.check-year {
  padding-top: 36px;
  padding-bottom: 36px;
}
.check-year__title {
  margin-bottom: 36px;
}
.check-year__box {
  flex-direction: row;
  justify-content: space-between;
  width: 576px;
}
.check-year__input {
  position: relative;
  display: flex;
  flex-direction: row;
  color: #7e7e7e;
  width: 215px;
  height: 35px;
}
.check-year__input-text {
  color: #7e7e7e;
  background-color: #d7d7d7;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 3px rgba(126, 126, 126, 0.5);
  padding: 10px;
  padding-right: 45px;
  width: 215px;
}
.check-year__input-text::-webkit-outer-spin-button, .check-year__input-text::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.check-year__input-button {
  position: absolute;
  right: 0;
  background-color: #000000;
  border: none;
  border-radius: 0px 20px 20px 0px;
  width: 35px;
  height: 35px;
  padding: 10px;
}
.check-year__input-button:hover, .check-year__input-button:focus {
  cursor: pointer;
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 720px;
  margin: 0 auto;
}

.line {
  width: 536px;
  height: 2px;
  border-width: 0;
  margin: 0;
  color: #000000;
  background-color: #000000;
}