@import "utils/placeholders";
@import "utils/variables";

@import "components/background";
@import "components/pop-up";
@import "components/footer";
@import "components/footer-modal";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  @extend %flex;
  width: 720px;
  margin: 0 auto;
}
