@import "utils/placeholders";
@import "utils/variables";

@import "components/background";
@import "components/check-year";
@import "components/footer";
@import "components/footer-modal";
@import "components/scientists";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  @extend %flex;
  width: 720px;
  margin: 0 auto;
}

.line {
  width: 536px;

  height: 2px;
  border-width: 0;
  margin: 0;
  color: $black;
  background-color: $black;
}
