// Основнi стилi тексту

%flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

%small-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.6px;
}

%title-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.3px;
}

%subtitle-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
}

%list-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20.4px;
}

%note-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 6px;
  line-height: 7.3px;
}

%standart-Intertext {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
}

%title-Intertext {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
}
