
.dino_title {
    font-size: 16px;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
  }
  .dino_game {
    margin-top: 36px;
  }
  
  #canvass {
    border-bottom: 2px black solid;
    display: block;
    margin: auto;
  }
  .container #retryButton {
    position: relative;
  }
  #retryButton {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d7d7d7;
    color: black;
    border-radius: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    cursor: pointer;
  }