// Footer

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
  background-color: $white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1091px;
    height: 100px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;

    &-item {
      @extend %list-text;
      color: $black;
    }
  }

  &__message {
    width: 347px;
    height: 60px;
    margin-top: 36px;
    margin-bottom: 4px;

    &-box {
      display: flex;
      justify-content: space-between;
      width: inherit;
      height: 35px;
      margin-bottom: 18px;
    }

    &-input {
      @extend %small-text;

      width: 204px;
      padding: 10px;
      border: none;
      border-radius: 50px;
      color: $gray;
      background-color: #d7d7d7;
    }

    &-button {
      @extend %small-text;

      width: 107px;
      padding: 10px;
      color: $white;
      background-color: $black;
      border: none;
      border-radius: 50px;
    }

    &-button:hover,
    &-button:focus {
      cursor: pointer;
    }

    &-text {
      @extend %note-text;
      color: $black;
    }
  }

  // Modal window

  &__mw-wrapper {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__mw {
    @extend %flex;
    justify-content: center;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 463px;
    height: 245px;
    background-color: $white;
    border-radius: 20px;

    &-button-close {
      position: absolute;
      top: 30px;
      right: 30px;
      padding: 0;
      background: none;
      border: none;
    }

    &-button-close:hover,
    &-button-close:focus {
      cursor: pointer;
    }

    &-title {
      @extend %title-Intertext;

      margin-top: 14px;
    }

    &-box {
      @extend %flex;

      position: relative;
      width: 378px;
      height: 106px;
    }

    &-icon {
      position: absolute;
    }
  }
}

#footer__mw-icon1 {
  top: 0;
  left: 0;
}

#footer__mw-icon2 {
  top: 0;
  right: 0;
}

#footer__mw-icon3 {
  bottom: 0;
  left: 44px;
}

#footer__mw-icon4 {
  bottom: 0;
  right: 44px;
}
