body {
  overflow: hidden;
}

.pop-up {
  @extend %flex;
  justify-content: center;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 576px;
  height: 316px;
  background-color: $white;
  border-radius: 20px;

  &__wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__box {
    @extend %flex;
    justify-content: space-between;
    height: 223px;
  }

  &__text {
    @extend %flex;
    @extend %standart-Intertext;
  }

  &__input-text {
    @extend %standart-Intertext;
    margin-top: 42px;
  }
}

#pop-up__text-input {
  width: 169px;
  margin-top: 18px;
  margin-bottom: 18px;
}

#pop-up__save {
  width: 105px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

#pop-up__icon1 {
  bottom: 132px;
  left: 41px;
}

#pop-up__icon2 {
  bottom: 132px;
  right: 41px;
}

#pop-up__icon3 {
  bottom: 56px;
  left: 85px;
}

#pop-up__icon4 {
  bottom: 56px;
  right: 85px;
}
